extends ../shared/template

block content

  #container
    .row
      h2.group-headline Groups
      button#new-group Make Group

      #new-group-form

      ul#group-categories
        li
          a#show-allgroup-cat(href='#') All Groups
        li
          a#show-mygroup-cat(href='#') My Groups
        li
          a#show-createdgroup-cat(href='#') Manage Groups

      .group-cat#all-groups
        h2 All Groups
        each group in groups
          .group
            #group-show(data-id='#{group._id}')
            h4#group-name: a(href='/groups/#{group.name}/#{group._id}')= group.name

            form(action='/groups/#{group._id}/join', method='POST')
              button#join-group Join Group

      .clear
      .group-cat#mygroups
        h2 My Groups
        p group name
        p group name
        p group name
      .clear

      .group-cat#createdgroups
        h2 Created Groups
        each userGroup in usersGroups
          .group
            h4= userGroup.name

block scripts
  script(src='/js/es6/compiled/groups.js')
